section form legend{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

section form{
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    max-width: 400px;
    text-align: center;
    background-color: beige;
    border-radius: 15px;
}
section form input, section form textarea{
    display: block;
    width: auto; 
    min-width: 100%;
    max-width: 100%; 
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    border: 2px solid #007bff;
    box-sizing: border-box;
}

section form input[type=submit] {
    background: none;
    background-color: white;
    color: #007bff;
    cursor: pointer;
    text-align: center;
}

section form input[type=submit]:hover {
    background-color: #007bff;
    color: white;
    transition: ease-in 0.3s;
}